<div class="box-form">
    <h3>CADASTRO</h3>
    <hr style="border-color: #7E7B7C">

    {% if messages %}

        {%  for message in messages %}

            <div class="alert {{ message.tags }}">{{ message }}</div>

        {% endfor %}
    {% endif %}
    

    <form action="{% url 'cadastro' %}" method="POST"> {% csrf_token %}
        <label>Username:</label> 
        <input type="text" class="form-control" placeholder="Username..." name="username">
        <br>
        <label>E-mail:</label>
        <input type="email" class="form-control" placeholder="E-mail..." name="email">
        <br>
        <div class="row">
            <div class="col-md">
                <label>Senha:</label>
                <input type="password" class="form-control" placeholder="Senha..." name="senha">
            </div>

            <div class="col-md">
                <label>Confirmar senha:</label>
                <input type="password" class="form-control" placeholder="Confirmar senha..." name="confirmar_senha">
            </div>
        </div>
        <a href="#" class="link">Já possuo uma conta</a>
        <br>
        <br>
        <input type="submit" value="CADASTRAR" class="btn-principal">
    </form>
</div>