{% extends "bases/base_evento.html" %}
{% load static %}

{% block 'importacoes' %}
    <link href="{% static 'evento/css/gerenciar_evento.css' %}" rel="stylesheet">
{% endblock %}

{% block 'conteudo' %}

    <div class="container">
        <br>

        </div>

        <table>
            
    {% for evento in eventos %}
        <tr class="{% cycle 'linha' 'linha2' %}">
            <td width="10%"><a href="#"><img width="100%" src="/media/{{evento.logo}}"></a></td>
            <td>{{evento.nome}}</td>    
            <td>{{evento.descricao}}</td>
            <td>{{evento.data_inicio}}</td>
            <td>{{evento.data_termino}}</td>            
        </tr>
    {% endfor %}
                
        </table>

    </div>

{% endblock %}