{% extends "bases/base_evento.html" %}
{% load static %}

{% block 'importacoes' %}
    <link href="{% static 'evento/css/gerenciar_evento.css' %}" rel="stylesheet">
{% endblock %}

{% block 'conteudo' %}
    <div class="container">
        <br>
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <br>
        <div class="row">
            <div class="col-md-2">
                <img width="100%" src="/media/{{evento.logo}}">
                <br>
                <br>
                <h3>{{evento.nome}}</h3>
                
            </div>

            <div class="col-md">
                <div class="row">
                    <div class="col-md-2">
                        <span class="badge rounded-pill text-bg-danger"><a class="link" href="{% url 'participantes_evento' evento.id %}">Participantes</a></span>
                    </div>
                    <div class="col-md-2">
                        <span class="badge rounded-pill text-bg-danger"><a class="link" href="{% url 'certificados_evento' evento.id %}">Certificados</a></span>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <h5>{{qtd_certificados}} Certificados para serem gerados</h5>  
            {% if qtd_certificados > 0 %}
                <a href="{% url 'gerar_certificado' evento.id %}" class="btn-principal link" style="width: 40%">GERAR TODOS OS CERTIFICADOS</a>
            {% endif %}          
        </div>
        <hr>

        <div class="row">
            <h5>Procurar certificado</h5>
            <br>
            <form action="{% url 'procurar_certificado' evento.id %}" method="POST">
                <input type="email" class="form-control" placeholder="Digite o e-mail" name="email">{% csrf_token %}
                <br>
                <input type="submit" value="BUSCAR" class="btn btn-primary">
            </form>
        </div>
        
        
    </div>

{% endblock %}